<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fill-In-The-Code</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css">

    <!-- Google Signin -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="107924962546-ain2a5vfrgfojd5flm11hjdmtvp1p92u.apps.googleusercontent.com">
</head>
<!--Navbar-->
<nav class="navbar navbar-dark  stylish-color-dark">
    <a class="navbar-brand" href="/">Fill In The Code</a>

    <!-- Collapse button -->
    <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon3"><span></span><span></span><span></span></div>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent22">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-right">
                <a class="nav-link" href="#">My Profile</a>
            </li>
            <li class="nav-item text-right">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        </ul>
    </div>
    <!-- Collapsible content -->
</nav>
<body>
    {{{body}}}
</body>

</html>
