

<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4 text-center">A Coding Boot Camp <br>Learning Tool</h2>
            <div class="row sign-in">
            <hr>
            {{!-- <a href="/auth/google/callback"><img src="/images/btn_google_signin_dark_normal_web.png"></a><br> --}}
            <a href="/auth/google/callback"><img src="/images/btn_google_signin_dark_focus_web.png"></a><br>
            {{!-- <a href="/auth/google/callback"><img src="/images/btn_google_signin_dark_pressed_web.png"></a><br> --}}
            </div>
            <hr>
            <p class="lead">A Fill-In-The-Blank Quiz Tool That Helps You Learn Code Through Repetition.</p>
            
        </div>
    </div>

    <div class="row icons">

        <h2 class="heading">Here Are The Topics Covered.</h2>

        <!-- HTML5 Icon -->
        <div id="html" class="icon">
            <img src="/images/html5.png" class="image" style="max-height: 112px; max-width: 84px;">
        </div>

        <!-- CSS3 Icon -->
        <div id="css" class="icon">
            <img src="/images/css3.png" class="image" style="max-height: 112px; max-width: 84px;">
        </div>

        <!-- JS Icon -->
        <div id="jscript" class="icon">
            <img src="/images/js.png" class="image" style="max-height: 112px; max-width: 84px;">
        </div>

        <!-- NodeJS Icon -->
        <div id="nodejs" class="icon">
            <img src="/images/nodejs.png" class="image" style="max-height: 125px;">
        </div>

        <!-- NodeJS Icon -->
        <div id="handlebars" class="icon">
            <img src="/images/handlebars.jpeg" class="image" style="max-height: 125px;">
        </div>

        <!-- MySQL Icon -->
        <div id="mysql" class="icon">
            <img src="/images/mysql.png" class="image" style="max-height: 125px;">
        </div>

        <!-- Sequelize Icon -->
        <div id="sequelize" class="icon">
            <img src="/images/sequelize.png" class="image" style="max-height: 125px;">
        </div>

    </div>
</div>

<!-- JQuery -->
<script>
{{!-- $(document).ready(function () {
    $('.first-button').on('click', function () {
        $('.animated-icon1').toggleClass('open');
    });
    $('.second-button').on('click', function () {
        $('.animated-icon2').toggleClass('open');
    });
    $('.third-button').on('click', function () {
        $('.animated-icon3').toggleClass('open');
    });
}); --}}
</script>

<script src="/js/index.js"></script>
<meta name="google-signin-client_id" content="3623760913-3tsf3p947bmcs2ql5j1b5tpl895kphrk.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>