<!--Navbar-->
<nav class="navbar navbar-dark  stylish-color-dark">
    <a class="navbar-brand" href="#">Fill In The Code</a>
    <!-- Collapse button -->
    <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon3"><span></span><span></span><span></span></div>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent22">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">Curriculum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
            </li>
        </ul>
    </div>
    <!-- Collapsible content -->
</nav>

<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">A Coding Boot Camp <br>Learning Tool</h2>
            <hr>
            <p class="lead">A Fill-In-The-Blank Quiz Tool That Helps You Learn Code Through Repetition.</p>
        </div>
    </div>

    <div class="row icons">
        <!-- HTML5 Icon -->
        <div id="html">
            <a class="desc-link" href="#" data-toggle="modal" data-target="#htmlModal">
                <!-- <i class="fab fa-html5 fa-7x"></i> -->
                <img src="/images/html5.png" style="max-height: 112px; max-width: 84px;">
                <!-- <h5>HTML</h5> -->
            </a>
        </div>

        <!-- HTML5 Modal -->
        <div id="htmlModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HTML 5</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <p>
                            HTML 5 is a software solution stack that defines the properties and behaviors of web page content by 
                            implementing a markup based pattern to it.
                        </p>
                        <p>
                            HTML 5 is the fifth and current major version of the HTML standard, and subsumes XHTML.
                            It currently exists in two standardized forms: HTML 5.2 Recommendation by the World Wide 
                            Web Consortium (W3C, a broad coalition of organizations), intended primarily for Web content 
                            developers; and HTML Living Standard by WHATWG (a small consortium of four browser vendors), 
                            intended primarily for browser developers, though it also exists in an abridged Web developer version.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CSS3 Icon -->
        <div id="css">
            <a class="desc-link" href="#" data-toggle="modal" data-target="#cssModal">
            <!-- <i class="fab fa-css3-alt fa-7x"></i> -->
            <img src="/images/css3.png" style="max-height: 112px; max-width: 84px;">
            <!-- <h5>CSS</h5> -->
            </a>
        </div>

        <!-- CSS3 Modal -->
        <div id="cssModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">CSS3</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <p>
                            Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written
                            in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
                        </p>
                        <p>
                            CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts.
                            This separation can improve content accessibility, provide more flexibility and control in the specification of presentation
                            characteristics, enable multiple web pages to share formatting by specifying the relevant CSS in a separate .css file, and
                            reduce complexity and repetition in the structural content.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- JS Icon -->
        <div id="jscript">
            <!-- <i class="fab fa-js-square fa-7x"></i> -->
            <a class="desc-link" href="#" data-toggle="modal" data-target="#jsModal">
                <img src="/images/js.png" style="max-height: 112px; max-width: 84px;">
                <!-- <h5>Javascript</h5> -->
            </a>
        </div>

        <!-- JS Modal -->
        <div id="jsModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Javascript</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <p>
                            JavaScript, often abbreviated as JS, is a high-level, interpreted programming language that conforms to the ECMAScript
                            specification. JavaScript has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class
                            functions.
                        </p>
                        <p>
                            Alongside HTML and CSS, JavaScript is one of the core technologies of the World Wide Web. JavaScript enables interactive web
                            pages and is an essential part of web applications. The vast majority of websites use it, and major web browsers have a
                            dedicated JavaScript engine to execute it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="g-signin2" data-onsuccess="onSignIn">
        <!-- Sign In/ Sign Up Buttons -->
        <!-- <button type="button" id="sign-button1" class="btn btn-outline-primary btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
            <a class="desc-link" href="#" data-toggle="modal" data-target="#googleModal">Sign In</a>      
        </button> -->
        <!--<button type="button" id="sign-button2" class="btn btn-outline-primary btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
            Sign Up
        </button> -->
    </div>
</div>

<!-- JQuery -->
<script>
$(document).ready(function () {
    $('.first-button').on('click', function () {
        $('.animated-icon1').toggleClass('open');
    });
    $('.second-button').on('click', function () {
        $('.animated-icon2').toggleClass('open');
    });
    $('.third-button').on('click', function () {
        $('.animated-icon3').toggleClass('open');
    });
});
</script>

<script src="/js/index.js"></script>
<meta name="google-signin-client_id" content="107924962546-ain2a5vfrgfojd5flm11hjdmtvp1p92u.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>