

<div>
    <div class="row">
        <div class="subjects">
<<<<<<< HEAD
            {{!-- <button id="skip">HTML</button>
            <button id="skip">Javascript</button>
            <button id="skip">Node.js</button> --}}
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Question</h5>
                    <p>
                        <strong>ID</strong>: {{question.id}}
                    </p>
                    <p>
                        <strong>Text</strong>: {{question.text}}
                    </p>
                    <p>
                        <strong>Answers</strong>:
                        {{#each question.Answers}}
                            <li data-id="{{this.id}}" class="list-group-item">
                                {{this.text}}
                            </li>
                        {{/each}}
                    </p>

                    
                    <a href="/">← Back To Home</a>
                </div>
            </div>
            <button type="button" class="btn btn-outline-dark buttonTopic">HTML</button>
            <button type="button" class="btn btn-outline-dark buttonTopic">Javascript</button>
            <button type="button" class="btn btn-outline-dark buttonTopic">Node.JS</button>
=======
            <a href="/topic/html"><button type="button" class="btn btn-outline-light buttonGuess"><img src="/images/html5.png" style="max-height: 112px; max-width: 84px;"></button></a>
            <a href="/topic/css"><button type="button" class="btn btn-outline-light buttonGuess"><img src="/images/css3.png" style="max-height: 112px; max-width: 84px;"></button></a>
            <a href="/topic/js"><button type="button" class="btn btn-outline-light buttonGuess node"><img src="/images/js.png" style="max-height: 112px; max-width: 84px;"></button></a>
>>>>>>> 0c338630c21e5e2fb7afd759b7d70ee2805fdca9
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="question">
            <p id="questionText" style="text-cnet"></p>
            <br>
            <p id="answerButtons"></p>
        </div>
        <div class="row">
            <div class="bottomRow">
            <div class="d-flex justify-content-around mb-3">
                <button class="btn btn-outline-light buttonHome"><a href="/">← Back To Home</a></button>
                <button class="btn btn-outline-light buttonSkip">Skip</button>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/question.js"></script>