<div class="row mb-3">
    <a href="/topic/html">
        <button type="button" class="btn btn-outline-dark buttonTopic">HTML</button>
    </a>
    <a href="/topic/css">
        <button type="button" class="btn btn-outline-dark buttonTopic">CSS</button>
    </a>
    <a href="/topic/js">
        <button type="button" class="btn btn-outline-dark buttonTopic">Javascript</button>
    </a>
    <a href="/topic/node">
        <button type="button" class="btn btn-outline-dark buttonTopic">Node</button>
    </a>
    <a href="/topic/mysql">
        <button type="button" class="btn btn-outline-dark buttonTopic">MySQL</button>
    </a>
    <a href="/topic/sequelize">
        <button type="button" class="btn btn-outline-dark buttonTopic">Sequelize</button>
    </a>
</div>

<div>
    <div class="row">
        <div class="row topRow">
            <div class="d-flex justify-content-around mb-3">
                <p class="heading">Score: <span id="score">0</span></p>
                <p class="heading">Question: <span id="questionNum"></span> of <span id="totalQuestions"></span></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="question">
                <p id="questionText" style="text-cnet;word-break: break-word;">
                </p>
                <br>
                <p id="answerButtons" class="questionBlankCorrect"></p>
            </div>
        </div>
        <div class="row bottomRow">
            <div class="d-flex justify-content-around mb-3">
                <a href="/"><button class="btn btn-outline-light buttonHome">← Back To Home</button></a>
                <button class="btn btn-outline-light buttonSkip">Skip</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/question.js"></script>