

<div>
    <div class="row">
        <div class="subjects">
            <button type="button" class="btn btn-outline-light buttonGuess"><img src="/images/html5.png" style="max-height: 112px; max-width: 84px;"></button>
            <button type="button" class="btn btn-outline-light buttonGuess"><img src="/images/css3.png" style="max-height: 112px; max-width: 84px;"></button>
            <button type="button" class="btn btn-outline-light buttonGuess node"><img src="/images/js.png" style="max-height: 112px; max-width: 84px;"></button>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="question">
            <p>
            </p>
            <p style="text-cnet">
                <strong>{{question.text}}</strong>
            </p>
            <p>
                <br>
                {{#each question.Answers}}
                <button data-id="{{this.id}}" class="btn btn-light buttonGuess">
                    {{this.text}}
                </button>
                {{/each}}
            </p>
        </div>
        <div class="row">
            <div class="bottomRow">
            <div class="d-flex justify-content-around mb-3">
                <button class="btn btn-outline-light buttonHome"><a href="/">← Back To Home</a></button>
                <button class="btn btn-outline-light buttonSkip">Skip</button>
            </div>
            </div>
        </div>
    </div>
</div>