<div>
    <div class="row">
        <div class="subjects">
            {{!-- <button id="skip">HTML</button>
            <button id="skip">Javascript</button>
            <button id="skip">Node.js</button> --}}
            <button type="button" class="btn btn-outline-light buttonGuess">HTML</button>
            <button type="button" class="btn btn-outline-light buttonGuess">Javascript</button>
            <button type="button" class="btn btn-outline-light buttonGuess">Node.JS</button>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="question">
            <p id="questionText" style="text-cnet">
                <strong>{{question.text}}</strong>
            </p>
            <p>
                <br>
                {{#each question.Answers}}
                <button data-correctAnswerIndex="{{this.correctAnswerIndex}}" class="btn btn-info buttonGuess">
                    {{this.text}}
                </button>
                {{/each}}
            </p>
            <button id="skip">Skip</button>
            <br>
            <a href="/">← Back To Home</a>
        </div>
    </div>
</div>

<script src="/js/question.js"></script>

