

<div>
    <div class="row">
        <div class="subjects">
            <a href="/topic/html"><button type="button" class="btn btn-outline-light buttonGuess"><img src="/images/html5.png" style="max-height: 112px; max-width: 84px;"></button></a>
            <a href="/topic/css"><button type="button" class="btn btn-outline-light buttonGuess"><img src="/images/css3.png" style="max-height: 112px; max-width: 84px;"></button></a>
            <a href="/topic/js"><button type="button" class="btn btn-outline-light buttonGuess node"><img src="/images/js.png" style="max-height: 112px; max-width: 84px;"></button></a>
        </div>
    </div>
</div>

<div>
    <div class="row">
                {{!-- <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10"> --}}
        <div class="question">
            <p id="questionText" style="text-cnet"></p>
            <br>
            <p id="answerButtons"></p>
        </div>
        <div class="row">
            <div class="bottomRow">
                <div class="d-flex justify-content-around mb-3">
                    <button class="btn btn-outline-light buttonHome"><a href="/">← Back To Home</a></button>
                    <button class="btn btn-outline-light buttonSkip">Skip</button>
                </div>
            </div>
        </div>
        {{!-- </div> --}}
    </div>
</div>

<script src="/js/question.js"></script>