<div class="row icons">

        <h2 class="heading">Select A Topic To Get Started Learning</h2>

        <!-- HTML5 Icon -->
        <div id="html" class="icon">
            <a href="/topic/html">
                <img src="/images/html5.png" class="image" style="max-height: 112px; max-width: 84px;">
            </a>
        </div>

        <!-- CSS3 Icon -->
        <div id="css" class="icon">
            <a href="/topic/css">
                <img src="/images/css3.png" class="image" style="max-height: 112px; max-width: 84px;">
            </a>
        </div>

        <!-- JS Icon -->
        <div id="jscript" class="icon">
            <a href="/topic/js">
                <img src="/images/js.png" class="image" style="max-height: 112px; max-width: 84px;">
            </a>
        </div>

        <!-- NodeJS Icon -->
        <div id="nodejs" class="icon">
            <img src="/images/nodejs.png" class="image" style="max-height: 125px;">
        </div>

        <!-- NodeJS Icon -->
        <div id="handlebars" class="icon">
            <a href="/topic/handlebars">
                <img src="/images/handlebars.jpeg" class="image" style="max-height: 125px;">
            </a>
        </div>

        <!-- MySQL Icon -->
        <div id="mysql" class="icon">
            <a href="/topic/handlebars">
                <img src="/images/mysql.png" class="image" style="max-height: 125px;">
            </a>
        </div>

        <!-- Sequelize Icon -->
        <div id="sequelize" class="icon">
            <a href="/topic/sequelize">
                <img src="/images/sequelize.png" class="image" style="max-height: 125px;">
            </a>
        </div>

    </div>
</div>

<script src="/js/index.js"></script>